<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<hr>

		<% if(validacao) { %>
			<ul>
				<% for(var i = 0; i < validacao.length; i++){ %>
					<li>
						<%= validacao[i].msg %>
					</li>
				<% } %>
			</ul>
		<% } %>

		<br>
		<form action="/noticias/salvar" method="post">
			<label>Título</label>
			<br>
			<input type="text" value="<%= noticia.titulo %>" name="titulo" placeholder="Título da notícia" id="titulo">
			<br>
			<br>
			<label>Resumo</label>
			<br>
			<input type="text" name="resumo" value="<%= noticia.resumo %>" placeholder="Resumo da notícia" id="resumo">
			<br>
			<br>
			<label>Nome do Autor</label>
			<br>
			<input type="text" name="autor" value="<%= noticia.autor %>" placeholder="Autor da notícia" id="autor">
			<br>
			<br>
			<label>Data dos Fatos</label>
			<br>
			<input type="date" name="data_noticia" value="<%=noticia.data_noticia%>" placeholder="Data da notícia" id="data_noticia">
			<br>
			<br>
			<label>Notícia</label>
			<br>
			<textarea name="noticia" id="titulo" rows="5" cols="30"><%=noticia.noticia%></textarea>
			<br>
			<br>
			<br>
			<input type="submit" value="Enviar">
		</form>

	</body>
</html>